# ðŸ“° Sentiment API Test Notebook
This notebook tests the real-time retrieval of financial news using:
- Alpha Vantage News Sentiment API
- NewsAPI

In [7]:
from sentiment_utils import FinancialNewsAggregator
from datetime import datetime, timedelta
import pandas as pd

## ðŸ”§ Instructions
- Add your API keys to your `.env` file
- Ensure `USE_MOCK_SCRAPE=0` to activate live mode
- Run each cell to validate live news and sentiment pulling

In [8]:
def test_live_apis(companies, days_back=7):
    """
    Test Alpha Vantage and NewsAPI for given tickers.
    """
    news_agg = FinancialNewsAggregator(use_mock=False)
    end_date = datetime.now()
    start_date = end_date - timedelta(days=days_back)

    for company in companies:
        print(f"\n=== Testing news for {company} ===")

        # Alpha Vantage
        print("\nAlpha Vantage News:")
        av_news = news_agg.get_alpha_vantage_news(company)
        if not av_news.empty:
            print(f"âœ… {len(av_news)} articles")
            display(av_news[['date', 'content', 'source', 'sentiment']].head(2))
        else:
            print("No articles found")

        # NewsAPI
        print("\nNewsAPI Articles:")
        news_articles = news_agg.get_newsapi_articles(company)
        if not news_articles.empty:
            print(f"âœ… {len(news_articles)} articles")
            display(news_articles[['date', 'content', 'source', 'sentiment']].head(2))
        else:
            print("No articles found")

        # Sentiment
        all_news = pd.concat([av_news, news_articles], ignore_index=True)
        if not all_news.empty:
            avg_sentiment = news_agg.get_avg_sentiment(all_news)
            print(f"\nðŸ“Š Average sentiment for {company}: {avg_sentiment:.3f}")
        
        print("\n" + "="*60)

In [9]:
# Example: Run live API test
test_live_apis(['TSLA', 'AAPL'], days_back=7)

=== Testing news for TSLA ===

Alpha Vantage News:
âœ… 50 articles

,date,content,source,sentiment
0,20251123T181500,Could Buying Robinhood Stock Today Set You Up ...,Motley Fool,0.341003
1,20251123T180500,"Ranking the Best ""Magnificent Seven"" Stocks to...",Motley Fool,0.271405

NewsAPI Articles:
âœ… 92 articles

,date,content,source,sentiment
0,2025-11-17T17:00:02Z,â€˜It Is Alien Technologyâ€™: Elon Musk Says It â€˜S...,Barchart.com,0.5574
1,2025-11-17T19:30:02Z,Elon Musk Warns â€˜The Only Way to Get Us Out of...,Barchart.com,-0.8402

ðŸ“Š Average sentiment for TSLA: 0.168

============================================================

=== Testing news for AAPL ===

Alpha Vantage News:
âœ… 50 articles

,date,content,source,sentiment
0,20251123T222701,The Vanguard 500 Index Fund ETF ( VOO ) Offe...,Motley Fool,0.157360
1,20251123T214100,What to Know Before Buying Lululemon Stock Lul...,Motley Fool,0.096488

NewsAPI Articles:
âœ… 83 articles

,date,content,source,sentiment
0,2025-11-18T08:20:25Z,Apple takes 25% share of China smartphone mark...,Yahoo Entertainment,0.000
1,2025-11-21T19:22:24Z,Jim Cramer Insists Apple (AAPL) Hasnâ€™t Missed ...,Yahoo Entertainment,-0.296

ðŸ“Š Average sentiment for AAPL: 0.199

============================================================